@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

body {
    margin: 0;
    font-family: "Inter", sans-serif;
}

.navbar {
    transition: 0.5s;
}

.navbar-scroll {
    z-index: 99;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;

    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(4.3px);
    -webkit-backdrop-filter: blur(4.3px);
}

.border-nice-soft {
    border: 1px solid;
    border-radius: 16px;
    border-color: #4fbdba;
    color: #35858b;
    font-size: 14px;
    font-weight: 600;
}

.border-nice-danger {
    border: 1px solid;
    border-radius: 16px;
    border-color: #bd4f4f;
    color: #8b3535;
    font-size: 14px;
    font-weight: 600;
}

.bg-nice-soft {
    background-color: rgb(53, 133, 139, 0.1);
}

.bg-nice-danger {
    background-color: rgba(139, 53, 53, 0.1);
}

.bg-nice {
    background-color: #4fbdba;
}

.bg-nice-dark {
    background-color: #35858b;
}

.text-nice {
    color: #4fbdba;
}

.text-nice-danger {
    color: #bd4f4f;
}

.text-nice-dark {
    color: #35858b;
}

.btn-nice {
    color: #fff;
    background-color: #4fbdba;
    border-color: #4fbdba;
    transition: 0.5s;
}

.btn-nice:hover {
    color: #fff;
    background-color: #35858b;
    border-color: #35858b;
}

.btn-nice-dark {
    color: #fff;
    background-color: #35858b;
    border-color: #35858b;
    transition: 0.5s;
}

.btn-nice-dark:hover {
    color: #fff;
    background-color: #35858b;
    border-color: #35858b;
}

.btn-outline-nice {
    color: #4fbdba;
    background-color: rgb(53, 133, 139, 0.1);
    border-color: #4fbdba;
    transition: 0.5s;
}

.btn-check:checked + .btn,
.btn.active,
.btn.show,
.btn:first-child:active,
:not(.btn-check) + .btn:active {
    color: #fff;
    background-color: #4fbdba;
    border-color: #4fbdba;
}

.btn-group > :not(.btn-check:checked) + .btn:hover {
    color: #4fbdba;
    background-color: rgb(53, 133, 139, 0.1);
    border-color: #4fbdba;
}

.product-list {
    padding: 32px 40px;
    border-radius: 16px;
}

.product-list hr {
    border-color: rgb(53, 133, 139, 0.5);
}

#product-display {
    transition: 0.8s ease-in;
}

input.search-input {
    font-size: 14px;
    background-color: rgb(53, 133, 139, 0.1);
}

input.search-input:active,
input.search-input:focus {
    border-color: #4fbdba;
    background-color: rgb(53, 133, 139, 0.1);
}

input.search-input::placeholder {
    opacity: 45%;
}

.card p {
    font-size: 14px;
}

@media (max-width: 976px) {
    .d-optional {
        display: none;
    }
}

@media (max-width: 576px) {
    .card,
    .card .card-img-top {
        width: 100%;
    }

    .product-list {
        padding: 24px;
        border-radius: 0;
    }
}
